{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('logoutPage') }}">Logout</a>
            </div>
        {% endif %}

        <div class="text-center mb-4">
            <a href="{{ path('mainPage') }}">
                <i class="fab fa-bootstrap display-1"></i>
            </a>
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                        href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, Firefox, and IE 10/11 (prefixed).</a>
            </p>
        </div>

        <div class="form-label-group">
            <input type="email" value="{{ last_username }}" placeholder="Email address" name="email" id="inputEmail"
                   class="form-control" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                   required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-4 text-center">
            Don't have account? <a href="{{ path('registerPage') }}">Sign Up</a>
        </p>

        <p class="mt-2 mb-3 text-muted text-center">&copy; 2017 -
            <script>document.write(new Date().getFullYear().toString())</script>
        </p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}
